<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    
     <!-- to make the name of user dynamic-->
   <h2>Hello {{username}}!</h2>
    <br>

     <!-- to make the name of artist dynamic-->
    <p>Your request has been successfully sent to the artist{{artistname}}</p>
    <p>They'll contact you soon to confirm the details</p>
    <br>
    <h3>Thank you for using Atelier!</h3>
    <br>

   <!-- logo -->
    <div>
       <img src="cid: logoCid">
    </div>
     
    
  






</body>
</html>