body {
  margin: 0;
  font-family: 'Inter',sans-serif;
  background-color: #0d0d0d;
  color: #fff;
  display: flex;
  justify-content: center;
}

.back_icon {
  position: fixed;
  top: 28px;
  left: 20px;
}

.back_icon img:hover {
  transform: scale(1.1);
}

.icon-btn {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  outline: none !important;
}

.icon-btn:hover img {
  transform: scale(1.1);
}


main.collection_page {
  min-height: 100vh;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border-radius: 20px;
}

.profile_info {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.profile_info h1 {
font-family: 'Playfair Display', serif;
  font-size: 40px;
  margin: 5px 0;
}

.profile_info h4 {
  margin: 5px 0;
}

.profile_info h4,
.profile_info h6 {
  margin: 5px 0;
  color: #aaa;
  font-weight: 500;
}

.profile_pictures img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0px 0;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.profile_pictures img:hover {
  transform: scale(1.05);
}

.icons {
  display: flex;
  gap: 15px;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}

.icons img {
  background-color: #313131;
  border-radius: 50%;
  padding: 8px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.icons img:hover {
  background-color: #333;
  transform: scale(1.1);
}

/* Masonry-style image layout using CSS columns */
.grid_gallery {
  column-count: 4;       /* number of image columns */
  column-gap: 30px;      /* space between columns */
  width: 100%;

  margin-bottom: 30px;
  border-top: 2px solid #333;
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.grid_gallery a {
  break-inside: avoid;   /* prevent images from breaking between columns */
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
  color: inherit; 
}

.grid_gallery img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: block;
  margin-bottom: 15px;
}

.grid_gallery img:hover {
  transform: scale(1.05);
}

/* Responsive design */
@media (max-width: 1200px) {
  .grid_gallery {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .grid_gallery {
  column-count: 2;
  column-gap: 24px;      
  margin-bottom: 24px;
  padding-top: 24px;
  }
  .grid_gallery a{
    margin-bottom: 24px;
  }
  main.collection_page {
    padding: 24px;
  }
}

@media (max-width: 480px) {
  .grid_gallery {
    column-count: 2;
    column-gap: 14px;      
    padding-top: 14px;
  }
  .grid_gallery a{
    margin-bottom: 14px;
  }
  main.collection_page {
  
  padding: 14px;
}
.profile_pictures img {
  width: 60px;
  height: 60px;
}
}