body{
    background-color: #0d0d0d;
    color:white;
    font-family: 'Inter',sans-serif;
   
}

h1{
    font-size: 28px;
    font-family:'playfair display';
    font-weight: 100;
    padding-left: 60px;
    padding-top: 36px;
    padding-bottom: 4px;

}

.icons{
   display: flex; 
   gap: 16px;
   justify-content: flex-end;
   align-items: center;
   /*to move it down*/
   margin-top: 5px;
}
.icon3 img{
  width: 30px;
  height: 30px;
background-color: #9ca3af;
border-radius: 50%;
object-fit: cover;
display:inline-block;
vertical-align: middle;
margin-top: -6px;
}

.icons a{
    color: white;
     float:right;
     height: 30px;
     top: 10px;
     gap: 40px;
     /*to make the icons in the same line*/
      display: flex;
    /*to remove the underline in the link*/
     text-decoration: none;
     /*to shift to the left*/
      margin-right:20px;
      
  
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
}

.navigation{

    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;       /* keep items in one line */
  overflow-x: auto;        /* enable horizontal scroll */
  scrollbar-width: none;   /* hide scrollbar (Firefox) */
  -ms-overflow-style: none;/* hide scrollbar (IE/Edge) */

    color: white;
    font-size: 14px;
    list-style: none
    padding 0;
    margin: 0;
    margin-left:20px;
    padding-right: 28px;
    gap: 64px;
    font-family: 'Inter',sans-serif;
    font-weight: 300;
   text-decoration: none;
   
}
.navigation li{
    /*to remove the points of list*/
    list-style: none;
   
}



.navigation a{
    list-style: none;
   color: white;
   size: 18px;
    font-weight: 400;
   /*to remove the underline in the link*/
   text-decoration: none;
    /*to remove the points of list*/
   list-style: none
   

}
.navScroll{
  position:relative;
  padding-bottom: 16px;
}

.indicator{
  position: absolute;
  bottom: -2px; /*To make it at the same level as the line*/
  height: 3px;
  width: 110px;
  background: #9ca3af;
  border-radius: 999px;
  transition: transform .26s ease;
  transform:translate(25px);
  background:#9ca3af;
  z-index:2 ;
}

.line{
  width: 100%;
  height: 1px;
  
  background-color:#242424;
  
}
.Logo{
     display: flex;
  flex-direction: row;
  overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    align-items: stretch;
}

h2{
    margin-right:0;
    padding-top:12px;
    
}
.Logo img{
  width: 120px;
  height: 120px;
  margin:0;
 
  
}

/*Collection styles*/
.collections-grid{
    display :flex;
    gap: 32px;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    align-items: stretch;

}
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.gap-space{
    width: 28px;
    height: auto;
    flex-shrink: 0;
    margin: 0;
}

.collection-info{
    display:flex;
    align-items: flex-start;
    gap:8px;
    margin-top: 12px;
    
}

.collection-image{
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
    
}

.collection-name{
    margin:0;
    font-size: 18px;
    font-family:'Inter';
    font-weight: 600;
}

.username{
    margin:0;
    font-size: 12px;
    color:#9F9F9F;
    font-family: 'Inter';
    font-weight: 600;
}

.profile-picture{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
    
}


/*Mayson Grid format*/
.suggested-grid {
  column-count: 4;          
  column-gap: 60px;         
  padding-left: 60px;
  padding-right: 60px;
}


.suggested-card {
  display: inline-block;    
  margin-bottom: 60px;
  width: 100%;
  cursor: pointer;
  transition: transform 0.4s ease-in-out; 
  border-radius: 10px; 
  overflow: hidden; 
}


.photo {
  width: 100%;
  overflow: hidden;
}

/* Make images responsive depending on the height */
.suggested-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.4s ease-in-out; 
  border-radius: 10px; 
}

/* Responsive tweaks */
@media (max-width: 1200px) {
  .suggested-grid {
    column-count: 3;
    column-gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .suggested-card {
    margin-bottom: 40px;
  }

  h1{
   padding-left: 40px;
  }

  .gap-space{
    width:16px;
  }

  .collections-grid{
    gap: 24px;
  } 
     .header{max-width: 1200pxx;margin: 0 auto;}

}

@media (max-width: 768px) {
  .suggested-grid {
    column-count: 2;
    column-gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .suggested-card {
  margin-bottom: 24px;
  }

  h1{
    padding-left: 24px;
  }
    
  .gap-space{
    width:0;
  }

  .collections-grid{
    gap: 24px;
  }

  /*.navigation{gap:24px;}*/
    .icons{gap:16px;}
}

@media (max-width: 480px) {
  .suggested-grid {
    column-count: 2;
    column-gap: 14px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .suggested-card {
  margin-bottom: 14px;
  }

  h1{
    padding-left: 14px;
    font-size: 22px;
  }

  .collection-image{
    width: 180px;
    height: 180px;
  }

  .gap-space{
    width:0;
  }

  .collections-grid{
    gap: 14px;
  }

  .collection-name{
    font-size: 14px;
    font-weight: 500;
  }

  .username{
    font-size: 10px;
    font-weight: 500;
  }
  .profile-picture{
    width: 30px;
    height: 30px;
  }
  .header{flex-direction: column;align-items: stretch;gap: 12px;}
.Logoimg{height: 36px;}
/*.navigation{justify-content: space-between;gap: 16px;flex-wrap: wrap;}*/
.navigation {gap: 44px;margin-left:0px;}
.icons{justify-content:flex-end;gap: 14px;}
.indicator{
  
  width: 80px;}
}

/* Hovers */
.collection-image {
    transition: transform 0.4s ease-in-out;
}

.collection-card:hover .collection-image {
    transform: scale(.97);
    cursor: pointer;
}

.suggested-card {
    cursor: pointer;
}

.suggested-card:hover  {
    transform: scale(1.03);
}