*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    
}

.shape{
    width: 90%;
    height: 130%;
    border-radius: 100%;
    background-color: #2a2a2a;
    position: absolute;
    top: -10%;
    left: 50%;
    z-index: 1;
}

.log-div{
    /* border: 2px solid red; */
    width: 450px;
    /* min-width: 300px; */
    height: 50vh;
    /* background-color: rgb(255, 255, 255,.3); */
    border-radius: 30px;
    padding: 10px;
}
.sign-div{
    /* border: 2px solid red; */
    width: 450px;
    /* min-width: 300px; */
    height: 50vh;
    /* background-color: rgb(255, 255, 255,.3); */
    border-radius: 30px;
    padding: 10px;
}

.form-div{
    /* border: 2px solid blue; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 450px;

}
.form-div .Login{
    left: 0;
    padding: 0 40px;

}
.form-div h2{
    font-size: 32px;
    text-align: center;
    color: #fff;
}

.input-div{
    /* border: 2px solid red; */
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 25px;

}

.input-div input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding-right: 23px;


}

.input-div label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #737373;
    transition: .5s;
}

.input-div i{
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 18px;
    transform: translateX(-50%);
    color: #737373;
}

.input-div input:focus ~ label,
.input-div input:valid ~ label{
    top: -5px;
    color: #ffffff;
}

.input-div input:focus ~ i,
.input-div input:valid ~ i{
    color: rgb(255, 255, 255);
}

.sub-btn{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid #aa63b7;
    color: #fff;
    transition: 0.5s;

}

.sub-btn:hover {
  box-shadow: 0 0 7px 3px #aa63b7;

}

.reg-div{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
    color: #fff;
}

.reg-div a{
    text-decoration: none;
    color: #aa63b7;
    font-weight: 600;

}


 .sign-div {
        opacity: 0;
        pointer-events: none;
    }




@media (max-width: 768px) {
    body {
        justify-content: center;
        align-items: center;
    }
    
    .log-div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
    }

    .sign-div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        opacity: 0;
        pointer-events: none;
    }
    
    .form-div h2 {
        font-size: 32px;
        text-align: center;
        color: #ffffff;
    }
    
    .shape {
        width: 450px;
        height: 450px;
        border-radius: 100%;
        position: absolute;
        top: 65%;
        left: 60%;
    }
}

@media (max-width: 480px) {
    body {
        justify-content: center;
        align-items: center;
    }
    
    .log-div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
    }

    .sign-div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        opacity: 0;
        pointer-events: none;
    }
    
    .form-div h2 {
        font-size: 32px;
        text-align: center;
        color: #fdfdfd;
    }
    
    .shape {
        width: 400px;
        height: 400px;
        border-radius: 100%;
        position: absolute;
        top: 70%;
        left: 50%;
    }
}















/* 
@media (max-width: 768px) {
    .form-div h2{
    font-size: 32px;
    text-align: center;
    color: #ffffff;
    }
    .log-div{
    
    width: 450px;
    }
    .shape{
    width: 450px;
    height: 450px;
    border-radius: 100%;

    position: absolute;
    top: 65%;
    left: 60%;
}


            
}



@media (max-width: 480px) {
    .form-div h2{
    font-size: 32px;
    text-align: center;
    color: #508943;
    }
    .log-div{
    
    width: 250px;
    }
    .shape{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: absolute;
    top: -65%;
    left: 60%;
}


} */
