
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Inter',sans-serif;
    font-weight: 200;
}
.icons{
   display: flex; 
   gap: 16px;
   justify-content: flex-end;
   align-items: center;
   /*to move it down*/
   margin-top: 5px;
}

.icons a{
    color: bisque;
     float:right;
     height: 30px;
     top: 10px;
     gap: 40px;
     /*to make the icons in the same line*/
      display: flex;
    /*to remove the underline in the link*/
     text-decoration: none;
     /*to shift to the left*/
      margin-right:20px;
      
  
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
}

.navigation{
    color: bisque;
   
    font-size: 14px;
    list-style: none
    padding 0;
    margin: 0;
    display: flex;
    gap: 48px;
    font-family: 'Inter',sans-serif;
    font-weight: 300;
   text-decoration: none;
   
}
.navigation li{
    /*to remove the points of list*/
    list-style: none;
     
   
}

.navigation a{
    list-style: none;
   color: bisque;
   size: 14px;
   /*to remove the underline in the link*/
   text-decoration: none;
    /*to remove the points of list*/
   list-style: none
   

}
.navigation #Home{
    /*The active line in category option*/
    border-bottom: 2px solid bisque;
    color: bisque;
}

.Logo img{
  width: 120px;
  height: 120px;
 background-color:rgb(0, 0, 0);
 border-radius: 50%;
  
}
/*Responsive for Mobile Phone*/
@media(max-width:600px){
.header{flex-direction: column;align-items: stretch;gap: 12px;}
.Logoimg{height: 36px;}
.navigation{justify-content: space-between;gap: 16px;flex-wrap: wrap;}
.navigation a{font-size:  14px;padding:6px 0;}
.icons{justify-content:flex-end;gap: 14px;}
}
/*Responsive for Ipad*/
@media(max-width:900px){
    .navigation{gap:24px;}
    .icons{gap:16px;}
}
/*Responsive for Computer*/
@media(min-width:1200px){
.header{max-width: 1200pxx;margin: 0 auto;}
}