.intro{
position: fixed;
z-index: 10;
left: 0;
top: 0;
width: 100%;
height: 100vh;
background-color: rgb(10, 10, 10);
transition: 1s;
font-family: 'Playfair Display', serif;
align-items: center;
pointer-events: none;
z-index: 100;
}

.intro-img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    opacity: 1;
}

.int-logo-header {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  text-align: center; 
  white-space: nowrap; 
}

.int-logo-header img{
    width: 20%;
    /* margin-top: 100px;
    margin-right: 10px; */
    top: 0%;
    left: 0%;
    position: absolute;
}

.int-logo-header h1{
    margin-left: 20px;
}




.int-logo-slogan {
  display: block; 
  font-size: 0.9rem; 
  opacity: 0;
  transform: translateY(20px); 
  transition: all 0.8s ease-in-out;
  font-weight:lighter;
  font-family: 'Playfair Display', serif;
  margin-top: 1rem;
  word-spacing: 3px;
}

.int-logo{
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    opacity: 0;
    transform: scale(1);  
    transition: all 1s ease-in-out;
    margin:0;
    
    padding: 0;
}

.int-logo.active{
    bottom: 0;
    opacity: 1;
    transform: scale(1); 
}

.int-logo.fade{
   opacity: 0;
  ;
}

.int-logo-slogan.active {
  opacity: 1;
  transform: translateY(0); 
}

.int-logo-slogan.fade {
  opacity: 0;
  transform: translateY(0); 
}
